<div class="dialog">
  <header class="dialog-header">
    <h2 class="dialog-header__title">{{ data.invoice.number }}</h2>
    <button
      mat-icon-button
      aria-label="close dialog"
      mat-dialog-close
      onclick="this.blur()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <div class="dialog-content">
    <table class="invoice-table">
      <tr>
        <th class="">U</th>
        <th class="invoice-line__description">Descripción</th>
        <th>€/u</th>
        <th>€</th>
        <th></th>
      </tr>
      @for (line of data.invoice.lines; track $index) {
      <tr>
        <td class="invoice-line__units">
          {{ line.quantity | number : '1.0-2' }}
          {{ line.unitType === 'u' ? '' : line.unitType }}
        </td>
        <td class="invoice-line__description">
          @if (line.item_id) {
          <div class="u-color-yellow" (click)="openItemDetail(line)">
            {{ line.description }}
            @if(line.increment < 0) {
              <mat-icon matTooltip="{{ line.increment | number : '1.0-2' }}" class="u-size-s u-color-red va-bottom">trending_up</mat-icon>
            }
            @if(line.increment > 0) {
              <mat-icon matTooltip="{{ line.increment | number : '1.0-2' }}" class="u-size-s u-color-green va-bottom">trending_down</mat-icon>
            }
            @if(line.increment === 0) {
              <mat-icon class="u-size-s va-bottom">trending_flat</mat-icon>
            }
          </div>
          } @else {
          <div>{{ line.description }}</div>
          }
        </td>
        <td>
          {{
            line.price
              | currency : data.invoice.currency : 'symbol' : '1.2-2' : 'es'
          }}{{ line.unitType === 'u' ? '' : '/' + line.unitType }}
        </td>
        <td>
          {{
            line.price * line.quantity
              | currency : data.invoice.currency : 'symbol' : '1.2-2' : 'es'
          }}
        </td>
        <td>
          @if (line.barcode) {
          <div class="invoice-line__actions--center">
            <mat-icon class="u-size-s u-color-green"
              >check_circle_outline</mat-icon
            >
          </div>
          } @else {
          <button
            mat-icon-button
            aria-label="edit dialog"
            (click)="openScanner(line)"
          >
            <mat-icon class="u-size-s">qr_code_scanner</mat-icon>
          </button>
          }
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="4">No hay líneas para este ticket</td>
      </tr>
      }
    </table>
  </div>
  <footer class="dialog-footer">
    <div class="invoice-footer">
    <div>{{ data.invoice.lines.length }} Productos</div>
    <div>
      Total:
      {{
        data.invoice.total
          | currency : data.invoice.currency : 'symbol' : '1.2-2' : 'es'
      }}
    </div>
  </div>
  </footer>
</div>
