.invoices-list {
  &__element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
}
.invoice {
  &-table {
    color: white;
    table-layout:fixed;
    width:100%;

    tr:nth-child(even) {
      background-color: #00000040;
    }

    td {
      margin: 0 auto;
      text-align: center;
      overflow-wrap: anywhere;
    }
  }
  &-footer {
    display: flex;
    justify-content: space-between;
  }

  &-line {
    &__units{
      //width: 10%;
      max-width: 10%;
    }
    &__description {
      max-width: 35%;
      width: 100%;
      text-align: left !important;
    }
    &__actions {
      &--center {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
