<div class="dialog">
  <header class="dialog-header">
    <div>
    <h2 class="dialog-header__title">{{ item.name }} <span>{{ item.openFoodFactsProduct?.brands }}</span></h2>
    <h3 class="dialog-header__description">{{ item.price | currency : 'EUR' : 'symbol' : '1.2-2' : 'es' }}</h3>
    </div>
    <button
      mat-icon-button
      aria-label="close dialog"
      mat-dialog-close
      onclick="this.blur()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <mat-tab-group>
    <mat-tab label="Gráfico">
      @if (chartData.length > 0) {
      <app-chart type="line" [data]="chartData"></app-chart>
      }
    </mat-tab>
    <mat-tab label="Tabla">
      <app-custom-table [tableSource]="tableSource" (actionClick)="tableAction($event)" />
    </mat-tab>
  </mat-tab-group>
  <div class="item-detail">
    @if (item?.openFoodFactsProduct?.image_url) {
      <img [src]="item?.openFoodFactsProduct?.image_url" class="item__image--thumbnail item">
    } @else {

    }
  </div>
</div>
