$white: #eee;

$grey-light-1:  #ddd;
$grey-light-2:  #bbb;
$grey-light-3:  #999;
$grey:          #777;
$grey-dark-1:   #424242;
$grey-dark-2:   #333;
$grey-dark-3:   #111;

$black: black;

$background-color: $grey-dark-2;

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: pink;
$app-accent:  blue; // mat.mat-palette($mat-light-blue);
$app-warn:    Orange; //mat.mat-palette($mat-orange);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
