.large--image {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  & img {
    width: -webkit-fill-available;
    margin: auto;
  }
}

/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
:host zxing-scanner::ng-deep {
  max-height: 80vh;
  width: 100vw;
  object-fit: contain;
}

.scanner {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
zxing-scanner {
  max-width: 90%;
}

.language-icon {
  display: flex;
  align-items: center;
  width: 20px;
  height: 12px;
  margin: 1rem;
}
